  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close"
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-edit [item]="item" *ngIf="ActivateEditItem">
            </app-edit>
        </div>
      </div>
    </div>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Done</th>
      <th>Task</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of TaskList">
      <td>
        <input class="form-check-input mx-1" type="checkbox"/>
      </td>
      <td>
        {{item.data}}
      </td>
      <td>
        {{item.itemId}}
      </td>
      <td>
      <button type="button" class="btn btn-light mr-1"
        data-toggle="modal" data-target="#exampleModal"
        (click)="editClick(item)"
        data-backdrop="static" data-keyboard="false">
        Edit
      </button>
    </td>
      <td><button type="button" class="btn btn-light mr-1" (click)="deleteClick(item)">Delete</button></td>
    </tr>
  </tbody>
</table>
<div class="add-items d-flex">
  <input type="text" class="form-control todo-list-input"
  placeholder="Add your taks!" id="newEntry" [(ngModel)]="data">
  <button class="add btn btn-primary font-weight-bold todo-list-add-btn
   mx-2" data-target="#exampleModal"
   (click)="addClick()">Add</button>
</div>
